.div-centrado {
	margin-top: 20px ;
	max-width: auto;
	margin-top: 80px;
	margin-left: 150px;
	margin-right: 0px;
	background-color: orange;

}

.div-panel{
	background-color: lightgrey;
	max-width:150px;
	height: 1000px;
	position: float;
	margin: 0px;
	padding:0px;
	
}

.div-centrado2 {
	max-width: auto;
	margin-top: 80px;
	margin-bottom: 20px;
	margin-left: 250px;
	margin-right: 250px;
	background-color: orange;
}

.div-centrado3 {
	max-width: auto;
	margin-top: 80px;
	margin-bottom: 20px;
	margin-left: 250px;
	margin-right: 250px;
}

.div-imagenes{
	margin: auto;
	float: right;
	padding: 40px;
}

.btn-naranjo{
	background-color: orange;
	color: white;
}
.btn-separado{
	
	width: 150px;
	padding: 20px;
	background-color: black;
}
.div-imagenesderecha{
	float: right;
	background-color: gray;
}

.btn-izquierda{
	text-align: center;
}

.carousel-item {
	position: relative;
	display: none;
	float: left;
	width: 100%;
	margin-right: -100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transition: -webkit-transform 0.6s ease-in-out;
	transition: transform 0.6s ease-in-out;
	transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  }

  .carousel-caption {
    position:absolute;
    right: 10%;
    top: 15%; /* Cambiar bottom por top y los píxeles que necesites */
    left: 60%;
	bottom: 15%;
    z-index: 10;
    padding: 30px;
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2); /* Añadir para conseguir el fondo con opacidad */
}

.p-centrado{
	text-align: center;
	font-size: 12px;
}


.card-title {
	text-align: center;
	font-size: 25px;
}


.modal-header2 {
	text-align: center;
	color: #fff;
	background-color: #717171;
}
